= render 'groups'
-# .contents
  -# .contents__header
  -#   .contents__header__title
  -#     サンプル
  -#   .contents__header__member
  -#     Member :
  -#   .contents__header__edit
  -#     =link_to "groups/#{:id}/edit", class:"contents__header__edit--link" do
  -#       Edit
  -# .contents__messages
  -#   .contents__messages__box
  -#     .contents__messages__box__user
  -#       ユーザー名
  -#     .contents__messages__box__date
  -#       2019/10/14 03:00
  -#     .contents__messages__box__text
  -#       Message

  -# .contents__post
  -#   .contents__post__input
  -#   %form
  -#     %input{type:"text", name:"message", class:"contents__post__input", placeholder:"入力"}
  -#     %label{for:"image-select"}
  -#       =fa_icon 'image', class:"contents__post__input--image"
  -#     %input{type:"file", name:"image", id:"image-select", style:"display:none;"}
  -#     %input{type:"submit", class:"contents__post__input--submit", value:"投稿"}
